<h1>Vitriol</h1>

<div id="header" class="row">
  <input id="input_title" placeholder="title">
  <input id="input_link" placeholder="source link">
  <textarea id="input_body" maxlength="600" placeholder="topic body"></textarea>

  <button class="add">Add Topic</button>
</div>

<div class="row">
  <div id="current">
    <ul id="topics_list"></ul>
  </div>
</div>

