<h1>Vitriol</h1>

<div id="header" class="row">
  <input id="input-title" placeholder="title">
  <input id="input-link" placeholder="source link">
  <textarea id="input-body" maxlength="600" placeholder="topic body"></textarea>

  <button class="add">Add Topic</button>
</div>

<div class="row">
  <div id="current">
    <ul id="topics-list"></ul>
  </div>
</div>

