<h1 id="">Vitriol</h1>

<div id="statement">
  <h1>
    Welcome To Vitriall, Where The Topics Are Made Up , And The Votes Don’t Matter!
  </h1>
  <p>
    Create or join a topic, Follow a thread, and Contribute to the conversation (because we all know the internet always needs more arguments).
  <p>
</div>


<div id="topic_list_wrapper" class="row">
  <div id="current">
    <ul id="topics_list"></ul>
  </div>
</div>




















