<!-- <div id="bg_gradient"> -->
  <div id="title_bar">
    <h1 id="the_topic"></h1>
    <h3 id="the_link"></h3>
    <h3 id="topic_submitter"></h3>
    <h3 id="the_description"></h3>
    <a  id="home_button">home</a>
  </div>
 

  <div id="for_fists">
    <div id="for_fist_back"></div>
    <div id="for_fist_front"></div>
  </div>
  <div id="against_fists">
    <div id="against_fist_back"></div>
    <div id="against_fist_front"></div>
  </div>

  <div id="the_fighters">
    <div id="fighter1">
      <ul class="the_comments" id="the_for_comments">
      </ul>
    </div>

    <div id="fighter2">
      <ul class="the_comments" id="the_against_comments">
      </ul>
    </div>
  </div>
 
  <div id="comment_bar"></div>
  
  <% if current_user %>
    <div id="the_comment_boxes">
      <div id="for_comment_box">
        <textarea id="input_for" placeholder="Comment"></textarea>
        <br />
        <button id="button_for">Submit</button>
      </div>
      <div id="against_comment_box">
        <textarea id="input_against" placeholder="Comment"></textarea>
        <br />
        <button id="button_against">Submit</button>
      </div>
    </div>
  <% end %>
<!-- </div> -->
 

