/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/*Fonts!*/

/*For page headers (topics, logos, h1's, etc):*/
/*  font-family: 'Oswald', sans-serif;*/
/*  font-weight: 700;*/

/*For secondary headers (usernames, text box labels, header link/description, h3's, etc):*/
/*  font-family: 'Cabin', sans-serif;*/
/*  font-weight: 700;*/

/*For all other text (comments, etc):*/
/*  font-family: 'Open Sans', sans-serif;*/
/*  font-weight: 400;*/

html {
  min-height: 100%;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

body {
  height: 100%;
}

#wrapper {
  text-align: center;
  margin: 0 auto;
  min-height:2000px;
  /*position: relative;*/
}

#index_gradient {
  width: 100%;
  height: 2000px;
  background: -webkit-linear-gradient(180deg, rgb(155, 198, 255) 50%, rgb(250, 255, 90) 50%);
}

#current {
  background-color: #94161b;
}

#bg_gradient {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -3;
  pointer-events: none;
}

/*The Title Bar*/

#logo {
  background: url("logo.png");
  width: 200px;
  height: 167px;
  margin: 0 auto;
  margin-bottom: 10px;
}

#title_bar {
  background-color: grey;
  width: 100%;
  padding: 10px 0px;
  position: fixed;
  z-index: 2;
  box-shadow: 0px 5px 3px rgba(139, 136, 120, 0.5);
}

#title_bar h1 {
  text-shadow: 0px 3px 0px rgb(45, 106, 158);
}

#the_topic {
  font-size: 2.5em;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

#statement {
  margin: 0 auto;
  width: 70%;
  margin-bottom: 10px;
}

/*The Fighters = The two columns of comments*/

#the_fighters {
  width: 83%;
  position: absolute;
  top: 6%;
  left: 8%;
  padding-bottom: 15%;
}

#the_fighters div {
  width: 35%;
  min-height: 580px;
}

#fighter1 {
  background-color: #94161b;
  height: 100%;
  float: left;
  box-shadow: 10px 10px 10px rgba(139, 136, 120, 0.5);
  border-radius: 5px;
}

#fighter2 {
  background-color: #262626;
  height: 100%;
  float: right;
  box-shadow: -10px 10px 10px rgba(139, 136, 120, 0.5);
  border-radius: 5px;
}

/*The animated fists*/

#for_fists, #against_fists {
  width: 28%;
  margin: 0 auto;
  position: fixed;
  z-index: 2;
  left: 35.5%;
  top: 20%;
  pointer-events:none;
}

#for_fists div, #against_fists div {
  width: 145px;
  height: 150px;
}

#against_fists {
  margin-left: 19%
}

#for_fist_front { 
  background:url("for_fist_front.png");
  background-repeat: no-repeat;
  background-position: -264px 0;
}

#against_fist_front {
  background:url("against_fist_front.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-left: -7%;
}

#for_fist_back {
  margin-left: 10%;
  background:url("for_fist_back.png");
  background-repeat: no-repeat;
  background-position: -5 0;
}

#against_fist_back {
  margin-left: -10%;
  background:url("against_fist_back.png");
  background-repeat: no-repeat;
  background-position: -262px 0;
}

/*The comments themselves, inside the fighter columns*/

.the_comments {
  list-style-type: none;
  width: 95%;
  margin: 0 auto;
  text-align: left;
}

.the_comments li {
  background-color: white;
  border-radius: 5px;
  padding: 10px 0;
  margin: 8px 0;
}

.the_comments li img {
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  max-width: 90%;
}

.user_img {
  border-radius: 25%;
  float: left;
  width: 50px;
  height: 50px;
}

#the_user_img img{
  border-radius: 25%;
  /*float: left;*/
  width: 200px;
  height: 200px;
}

.comment_body {
  padding: 5px 15px;
  max-width: 95%;
  text-align: justify;
  overflow: hidden;
}

/*The banner that holds the new comment boxes*/

#comment_bar {
  width: 1100px;
  height: 197px;
  bottom: 4%;
  position: fixed;
  background: url("banner.png");
  z-index: 2;
  margin-left: 12%;
}

#the_comment_boxes {
  width: 85%;
  margin: 0 auto;
  bottom: 4%;
  position: fixed;
  margin-left: 7%;
  z-index: 3;
}

#the_comment_boxes div {
  background-color: darkgrey;
  width: 25%;
  box-shadow: 0px 5px 3px rgba(139, 136, 120, 0.5);
  border-radius: 5px;
  z-index: 3;
}

#the_comment_boxes textarea {
  width: 90%;
  z-index: 3;
}

#for_comment_box {
  float: left;
  margin-left: 4%;
  padding: 10px 15px;
  z-index: 4;
}

#against_comment_box {
  float: right;
  margin-right: 4%;
  padding: 10px 15px;
  z-index: 4;
}

button {
  z-index: 4;
}


#topic_list_wrapper {
  margin-top: 4%;
  width: 70%;
  min-height: 350px;
  margin: 0 auto;
  background-color: #94161b;
  padding: 8px 0;
}

.topic_item {
  background-color: white;
  border-radius: 10px;
  width: 97%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.topic_title {
  font-size: 2.5em;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;

}

a, a:hover, a:link, a:active, a:visited {
  text-decoration: none;
  color: rgb(45,106,158);
}

a:hover{
  color: red;
}

#input_title, #input_link {
  width:70%;
  margin: 0 auto;
  margin-bottom: 10px;
}

#input_body {
  margin: 0 auto;
  height:50px;
  width: 83.5%;
}

#signin {
  z-index: 4;
  /*float: right;*/
}


#signin a {
  margin: 3px;
  padding: 3px;
  background-color: white;
  border-radius: 5px;
  float:right;
}

#signin a {
  margin: 3px;
  padding: 3px;
  background-color: white;
  border-radius: 5px;
}


#home_button, #profile_button {
  margin: 3px;
  padding: 3px;
  background-color: white;
  border-radius: 5px;
  position:fixed;
  top:0px;
  right:0px;
}

.top_buttons a{
  margin: 3px;
  padding: 3px;
  background-color: white;
  border-radius: 5px;
  float:right;
}

.sign_in {
  background-color: white;
  border-radius: 10px;
}

.sign_in_wrapper {
  background-color: #94161b;
  padding:10px;
  width:60%;
  margin:0 auto;
  margin-top:10%;
}

/*button trials */

.button {
   border-top: 1px solid #96d1f8;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#fffcff), to(#ffffff));
   background: -webkit-linear-gradient(top, #fffcff, #ffffff);
   background: -moz-linear-gradient(top, #fffcff, #ffffff);
   background: -ms-linear-gradient(top, #fffcff, #ffffff);
   background: -o-linear-gradient(top, #fffcff, #ffffff);
   padding: 7.5px 15px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 13px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }

.button:hover {
   border-top-color: grey;
   background: grey;
   color: #188bc9;
   }

.button:active {
   border-top-color: #08141c;
   background: #08141c;
}


#the_username {
font-family: 'Oswald', sans-serif;
font-weight: 400;
}

.followed_topic {
  list-style-type: none;
  text-align: left;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#followed_header {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
}

#statement {
  width: 50%;
}

.remove{
  float:right;
}


